/*    ШРИФТЫ    */

@charset "UTF-8";

@font-face {
    font-family: 'OpenSans', sans-serif;
    src: url(../fonts/OpenSans/OpenSans-Regular.ttf);
}

@font-face {
    /* Гарнитура шрифта */
    font-family: OpenSans-Light;
    src: url(../fonts/OpenSans/OpenSans-Light.ttf);
}

@font-face {
    /* Гарнитура шрифта */
    font-family: 'OpenSans-ExtraBold', sans-serif;
    src: url(../fonts/OpenSans/OpenSans-ExtraBold.ttf);
}



/* Сброс CSS */

	html, body, div, span, applet, object, iframe, p, h1, h2, h3, h4, h5 ,h6, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, font-family, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input, button {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

/*    Типовые элементы    */

a, body, div, form, input, p, table {
    font-family: 'OpenSans-Light';
    font-size: 100%;
    color: black;
}

html, body {
    background-color: #FFA560;
    height: auto;
    width: auto;
    font-size: 100%;
}

h1 {
    font-family: 'OpenSans-ExtraBold';
    font-size: 200%;
    text-transform: uppercase;
}
h2 {
    font-family: 'OpenSans';
    font-size: 150%;
    text-transform: uppercase;
}
h3 {
    font-family: 'OpenSans';
    font-size: 100%;
    text-transform: uppercase;
}

/*   Общие Классы   */

/*   ПОЛЕ ДЛЯ ВВОДА <input type="text">   */

.textplace {
    width: 100%;
    height: auto;
    border: 2px solid;
    border-color: white;
    border-radius: 8px;
    line-height: 40px;
    transition: border-color 0.5s ease;
    box-sizing: border-box;
}

.textplace:hover {
    border-color: #c0dffe;
    transition: border-color 0.3s ease;
}

.textplace:focus {
    border-color: #c0dffe;
    transition: border-color 0.5s ease;
}

.textplace::-webkit-input-placeholder    {text-indent: 10px; transition: text-indent 0.6s ease;}
.textplace::-moz-placeholder             {text-indent: 10px; transition: text-indent 0.6s ease;}/* Firefox 19+ */
.textplace:-moz-placeholder              {text-indent: 10px; transition: text-indent 0.6s ease;}/* Firefox 18- */
.textplace:-ms-input-placeholder         {text-indent: 10px; transition: text-indent 0.6s ease;}

.textplace:focus::-webkit-input-placeholder    {text-indent: 500px; transition: text-indent 0.9s ease;}
.textplace:focus::-moz-placeholder             {text-indent: 500px; transition: text-indent 0.9s ease;}/* Firefox 19+ */
.textplace:focus:-moz-placeholder              {text-indent: 500px; transition: text-indent 0.9s ease;}/* Firefox 18- */
.textplace:focus:-ms-input-placeholder         {text-indent: 500px; transition: text-indent 0.9s ease;}

/* END */


/*   КНОПКА ДЛЯ ВВОДА <input type="submit">   */

.submit-button {
    width: 100%;
    height: auto;
    background-color: #3366CC;
    border: 0.1em solid;
    border-color: white;
    border-radius: 2em;
    color: #FFFFFF;
    letter-spacing: 0.05em;
    line-height: 40px;
    text-align: center;
    transition: background-color 0.15s linear;
    box-sizing: border-box;
}
.submit-button:hover {
    background-color: #FFFFFF;
    color: #3366CC;
    cursor: pointer;
    transition: background-color 0.15s linear;
}

/*  END  */



/* КЛАССЫ УНИКАЛЬНЫХ БЛОКОВ */



/* STATIC_BAR */

.static-bar {
    width: 100%;
    height: 4em;
    background-color: #3366CC;
    position: fixed;
    top: 0;
    z-index: 5;
    color: white;
}

.static-bar-logo {
    width: 3.4em;
    height: 3.4em;
    display: inline-block;
    background-image: url(../images/legobrick_logo.png);
    background-size: cover;
    margin-left: 0.3em;
    margin-top: 0.3em;
    float: left;
}

.static-bar-logoname {
    width: auto;
    height: auto;
    display: inline-block;
    font-family: OpenSans-ExtraBold;
    font-size: 29pt;
    text-indent: 10px;
    color: inherit;
    margin-top: 0.14em;
    text-decoration: none;
    float: left;
}

.static-bar-horizontal-menu {
    width: auto;
    height: auto;
    display: inline-block;
    font-size: 150%;
    color: inherit;
    float: left;
    margin: 0.65em 1em;
}

.static-bar-horizontal-menu > a {
    color: inherit;
    text-decoration: none;
    margin-left: 1em;
}

.static-bar-horizontal-menu > a:hover {
    border-bottom: 0.3em solid white;
}

.static-bar-contact-numbers {
    width: auto;
    height: auto;
    display: inline;
    float: left;
    color: inherit;
    text-align: center;
    margin-left: 1em;
}
.static-bar-contact-numbers > a {
    font-size: 150%;
    color: #FFD82B;
}

.static-bar-word-or {
    width: auto;
    height: auto;
    display: inline;
    float: left;
    color: inherit;
    margin-top: 1.4em;
    margin-left: 1.5em;
}

#staticbar-call-button {
    width: auto;
    height: auto;
    display: inline-block;
    float: left;
    margin-top: 0.7em;
    margin-left: 1.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;

}

/*  END  */



/* HEADER */

.header {
    width: 100%;
    height: 100%;
    background-image: url(../images/fixed_background.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding-top: 4em;
    color: white;
    box-sizing: border-box;
}

.header-offer {
    width: 100%;
    height: 17.8em;
    background-color: #3366CC;
    color: inherit;
    float: left;
    margin-top: 14em;
    display: inline-block;
}

.header-offer-form {
    width: 22em;
    height: 100%;
    color: inherit;
    display: inline-block;
    float: right;
    margin-top: 1.6em;
    margin-right: 11em;
    box-sizing: border-box;
}

.header-offer-form-text {
    color: inherit;
    display: block;
    margin-bottom: 0.5em;
}

#header-offer-form-input {
    margin-bottom: 0.5em;
}

#header-offer-form-input-phone {
    margin-bottom: 0.5em;
}

/*  END  */


/* ADVANTAGES */

.advantages {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
}

.advantages-header {
    width: 13em;
    height: auto;
    background-color: #3366CC;
    border-radius: 2em;
    font-size: 2rem;
    color: inherit;
    display: block;

}

.advantages-block {
    width: 50%;
    height: auto;
    background-color: white;
    border-radius: 3em;
    box-sizing: border-box;
}

#top-left {
    display: inline-block;
    float: left;
}

#top-right {
    display: inline-block;
    float: left;
}

#bottom-left {
    display: inline-block;
    clear: both;
    float: left;
}

#bottom-right {
    display: inline-block;
    float: left;
}

/* SALE */

.sale {
    width: 100%;
    height: auto;
    background-color: bisque;


/*   УНИКАЛЬНЫЕ ИДЕНТИФИКАТОРЫ   */
